@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
    text-align: center;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

h1, p {
    margin: 20px 0;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

p {
    font-size: 1.5em;
    color: #666;
}

img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 8px;
}

/* General animation styles */
.section {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-top: 5em;
}

.section:first-of-type {
    margin-top: 0;
}

.section.visible {
    opacity: 1;
}

/* Slide-in from left */
.slide-left {
    transform: translateX(-100px);
}

.slide-left.visible {
    transform: translateX(0);
}

/* Slide-in from right */
.slide-right {
    transform: translateX(100px);
}

.slide-right.visible {
    transform: translateX(0);
}

.me {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
}

.me .spacer {
    flex: 1;
}